<h1>Need Music?</h1>
<p class="lead">Use ngSpotify app to find your favourite music, artists, albums etc...</p>

<form>
  <div class="form-group">
    <input 
      class="form-control" 
      type="text" 
      placeholder="Search artists..." 
      [(ngModel)]="searchStr" name="searchStr" 
      (keyup)="searchMusic()"
    >
  </div>
</form>